* {
  margin: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
}

body #header {
  text-align: start;
  margin: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 1140px;
}

body #header a {
  text-decoration: none;
  color: black;
}

body #header nav {
  background-color: white;
  width: 100%;
  list-style-type: none;
  margin: 0 !important;
}

body #header nav .logo img {
  width: 200px;
}

body #header nav li {
  display: inline-block;
  margin: 0.5rem 1rem;
  color: black;
  font-size: 1.5 rem;
}

body #header nav li:hover {
  border-bottom: 1px solid black;
}

body #header nav a {
  position: relative;
}

body #header nav a #iconoCarro {
  font-size: 1.5rem;
}

body #header nav a #carrito {
  border: 1px solid black;
  border-radius: 5px;
  width: 35%;
  height: 300px;
  z-index: 1;
  display: none;
  position: fixed;
  right: 3%;
  top: 13.5%;
  scrollbar-width: auto;
  background-color: #d6e6e6;
  overflow: auto;
  z-index: 20;
}

body #header nav a #carrito h4 {
  margin-top: 1rem;
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

body #header nav a #carrito p {
  color: black;
}

body #header nav a .items {
  padding: 1rem;
  text-align: center;
}

body #header nav a .items .cantidadCarro {
  font-size: 1rem;
  width: 3rem;
  height: 2.3rem;
  vertical-align: text-top;
}

body #header nav a .items label {
  display: block;
}

body #header nav a #botonesCarrito {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1rem;
  text-align: center;
}

body main #imagenBar {
  padding-top: 100px;
}

body main #imagenBar img {
  width: 100%;
  border-radius: 5px;
}

body main #operaciones {
  margin: 3rem;
}

body main #operaciones .btn {
  vertical-align: baseline !important;
}

body main #operaciones h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}

body main #eleccion #formReserva {
  text-align: center;
  color: black;
  margin: 1rem;
  padding: 0.2rem;
}

body main #eleccion #formReserva .form-control {
  width: 25%;
  text-align: center;
  margin: 0.2rem auto;
}

body main #resultado p {
  color: black;
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

body main #resultado h3 {
  color: black;
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

body main #resultado #formCompra {
  margin: 1rem;
  text-align: center;
}

body main #resultado #formCompra label {
  margin: 0.5rem 0;
}

body main #resultado #formCompra .form-control {
  width: 25%;
  margin: 0 auto;
}

body main #opiniones .divOpinion {
  margin: 2rem;
  width: 40%;
}

body main #opiniones .divOpinion .card-header {
  background-color: none;
}

body main #opiniones .divOpinion h5 {
  font-weight: bold;
}

body main #opiniones .divOpinion p {
  color: black;
  font-size: 1.5rem;
}

body main #opiniones #btnEnviarOpinion {
  margin: 1rem;
  width: 25%;
}

body main #opiniones h4 {
  margin: 1rem;
  color: black;
  text-align: center;
  font-size: 2rem;
}

body main #opiniones #formOpinion {
  text-align: center;
  margin: 1rem;
  color: black;
}

body main #opiniones #formOpinion input {
  margin: 0 auto;
  float: none !important;
}

body main #opiniones #formOpinion .form-control {
  width: 40%;
  margin: 0.3rem auto;
}

body main #opiniones #formOpinion .form-floating label {
  color: gray;
  text-align: center;
}

body main #servicios .row {
  text-align: center;
  color: black;
}

body main #servicios .row h4 {
  font-size: 2rem;
  margin: 1rem;
}

body main #servicios .row p, body main #servicios .row h6 {
  font-size: 1.2rem;
}

body main #servicios .row ul li {
  font-size: 1.2rem;
}

body main #servicios .row a {
  text-decoration: none;
  display: inline;
  color: black;
  font-weight: bold;
}

body footer {
  background: black;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

body footer h4 {
  padding: 2rem;
  display: inline-block;
  font-size: 1rem;
  color: white;
}

body footer h4 a {
  text-decoration: none;
  color: white;
}

body footer .footer__redes li {
  list-style-type: none;
  display: inline-block;
  margin: 2rem;
}

body footer .footer__redes li a {
  color: white;
}

body footer .footer__redes .face i:hover {
  color: #3b5998;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body footer .footer__redes .tw i:hover {
  color: lightskyblue;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body footer .footer__redes .ws i:hover {
  color: #4FCE5D;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body footer .footer__redes .correo i:hover {
  color: blue;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body footer .footer__copyright p {
  color: gray;
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  header {
    width: auto !important;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header ul .logo img {
    width: 250px;
    display: block;
  }
  header ul a {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header #carrito {
    width: 60% !important;
  }
}
/*# sourceMappingURL=style.css.map */